# Compiled binaries
ffmpeg-serve
bin/

# Output files / directories
*_out/
*_out.*
gh/

# Go workspace
go.work
go.work.sum

# OS Specific
.DS_Store
Thumbs.db

# PID files
*.pid

# Temporary files
tmp/
ffmpeg_probe_*
ffmpeg_in_*
ffmpeg_out_*
